<%- include("../partials/header.ejs") %>

</head>
<%- include("../partials/nav.ejs") %>
<body class="min-h-screen bg-gray-400 ">
  <div class="w-full max-w-md px-8 pt-6 pb-8 mx-auto mt-10 mb-4 bg-white rounded shadow-md">
    <h2 class="mb-6 text-2xl font-bold text-center text-gray-700">Reset Password</h2>


    
    <form action="/reset-password"  method="POST">

        <!-- error message -->
        <%- include("../partials/errorMessage.ejs") %>
      <!-- Add name -->
      
      
      <div class="mb-4">
        <label for="email" class="block mb-2 text-sm font-bold text-gray-700"> Email:</label>
        <input disabled value="<%=email%>" name="email" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
      </div>
      
        <input value="<%=email%> " type="hidden" name="email">
    
      
      <div class="mb-4">
        <label for="oTP" class="block mb-2 text-sm font-bold text-gray-700"> OTP:</label>
        <input  type="text" id="oTP" name="OTP" placeholder="Enter OTP" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
      </div>

      <!-- Add password -->
      <div class="mb-4">
        <label for="password" class="block mb-2 text-sm font-bold text-gray-700">password:</label>
        <input  type="password" id="password" name="password" placeholder="Enter New password" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
      </div>

      <!-- Add confirmPassword -->
      <div class="mb-4">
        <label for="cfpassword" class="block mb-2 text-sm font-bold text-gray-700">confirm password:</label>
        <input type="password" id="cfpassword" name="cfpassword" placeholder="Enter confirm-password" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
      </div>
      
    
      <!-- Submit Button -->
      <div class="flex items-center justify-center">
        <button type="submit" class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline">
        Reset Password
        </button>
      </div>
    </form>
  </div>
</body>
</html>
